<h1 class="center">Overview for
    <%= question.title %>
</h1>
<!-- #crud_view - start -->
<table class="table">
    <tr>
        <th>Title</th>
        <td>
            <%= question.title %>
        </td>
    </tr>
    <tr>
        <th>Text</th>
        <td>
            <%= question.text%>
        </td>
    </tr>
    <tr>
        <th>Date</th>
        <td>
            <%= question.date %>
        </td>
    </tr>
</table>
<!-- #crud_view - end -->

<div>
    <a class="button" href="<%=`/questions/${question._id}/edit`%>">
        Edit Question Details
    </a>
</div>
<div>
    <a class="button" href="<%= `/questions/${question._id}/delete?_method=DELETE` %>" onclick="return confirm('Are you sure you want to delete this record?')" a>Delete</a>
</div>
<div>
    <a class="button" href="/questions">View all Questions</a>
</div>
